{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en" class="font-size-md">
    <head>
        <title>
            {% block title %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% else %}
                    {{ self.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        {# Global meta tags #}
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block extra_meta %}
        {% endblock %}

        {# Global stylesheets #}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Poiret+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/aloe.css' %}">

        {# <script src="https://kit.fontawesome.com/d6910d65c8.js"></script> #}

        {# favicon #}
        <link rel="shortcut icon" href="{{ MEDIA_URL }}original_images/favicon.png" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="p-0 m-0 font-primary bg-light text-dark">
        {% wagtailuserbar %}

        <header class="sticky-top container-fluid bg-light shadow">
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
        </header>

        <main role="main" class="container-fluid">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="container-fluid bg-dark py-5">
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </footer>

        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/aloe.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
