{% load menu_tags %}

<nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <span class="mr-auto text-lowercase font-secondary text-dark">
            <h1>
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}{{ site_name }}{% endif %}
                {% endwith %}
            </h1>
        </span>
    </a>
    <button id="menu-icon" class="navbar-toggler border-0 text-dark menu-icon" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        {# <i class="fas fa-bars"></i> #}
        <span class="menu-bar-top"></span>
        <span class="menu-bar-middle"></span>
        <span class="menu-bar-bottom"></span>
    </button>
    <div id="navbarMenu" class="collapse navbar-collapse">
        <div class="navbar-nav ml-lg-auto text-lg">
            {% main_menu template="menus/main_menu.html" %}
        </div>
    </div>
</nav>
