* {
    box-sizing: border-box;
}

.font-primary {
    font-family: 'Poiret One', cursive;
}
.font-secondary {
    font-family: 'Grand Hotel', cursive;
}

.bg-light {
    background-color: #f7ebeb !important;
}
.bg-dark {
    background-color: #2e2e2e !important;
}

.text-light {
    color: #f7ebeb !important;
}
.text-dark {
    color: #2e2e2e !important;
}
.text-muted {
    color: #5e5e5e !important;
}

.font-size-lg {
    font-size: 22px;
}
.font-size-md {
    font-size: 18px;
}
.font-size-sm {
    font-size: 14px;
}

.btn-outline-dark {
    color: #2e2e2e;
    border-color: #2e2e2e;
}
.btn-outline-dark:hover {
    color: #f7ebeb;
    background-color: #2e2e2e;
}

.menu-icon span {
    position: relative;
    display: block;
    margin: 5px 0;
    padding 0;
    height: 3px;
    width: 30px;
    background-color: #2e2e2e;
    transition: all ease-in-out 249ms;
    transform-origin: left;
}
.menu-icon.menu-active span.menu-bar-top {
    width: 23px;
    transform: rotate(45deg);
}
.menu-icon.menu-active span.menu-bar-middle {
    width: 0;
}
.menu-icon.menu-active span.menu-bar-bottom {
    width: 23px;
    transform: rotate(-45deg);
}

@media (min-width: 992px) {
    .hover-scale {
        transition: all .2s ease-in-out;
    }
    .hover-scale:hover {
        transform: scale(1.05);
    }
}
