{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-4">
            <h2>{{ page.title }}</h2>
        </div>
        {% if featured_posts %}
                {% for post in featured_posts %}
                    {% with post=post.specific %}
                        <div class="row my-5">
                            <div class="col-lg p-5 shadow rounded">
                                <div class="py-3">
                                    <h2>{{ post.title }}</h2>
                                </div>
                                <div class="py-3">
                                    {% image post.main_image original as img %}
                                        <img src="{{ img.url }}" class="img-fluid"></img>
                                </div>
                                <div class="py-3 font-size-lg">
                                    <a href="{% pageurl post %}">
                                        <button type="button" class="btn btn-outline-dark">
                                            Read More
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
        {% endif %}
        {% if other_posts %}
                {% for post1, post2 in other_posts %}
                    <div class="row my-5">
                        {% if post1 %}
                            {% with post1=post1.specific %}
                                <div class="col-lg mr-lg-3 mb-lg-0 mb-5 p-5 shadow rounded">
                                    <div class="py-3">
                                        <h2>{{ post1.title }}</h2>
                                    </div>
                                    <div class="py-3">
                                        {% image post1.main_image original as img %}
                                            <img src="{{ img.url }}" class="img-fluid"></img>
                                    </div>
                                    <div class="py-3 font-size-lg">
                                        <a href="{% pageurl post1 %}">
                                            <button type="button" class="btn btn-outline-dark">
                                                Read More
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                        {% if post2 %}
                            {% with post2=post2.specific %}
                                <div class="col-lg ml-lg-3 p-5 shadow rounded">
                                    <div class="py-3">
                                        <h2>{{ post2.title }}</h2>
                                    </div>
                                    <div class="py-3">
                                        {% image post2.main_image original as img %}
                                            <img src="{{ img.url }}" class="img-fluid"></img>
                                    </div>
                                    <div class="py-3 font-size-lg">
                                        <a href="{% pageurl post2 %}">
                                            <button type="button" class="btn btn-outline-dark">
                                                Read More
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <div class="col-lg ml-lg-3 p-5">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}
