{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-3">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="py-3">
            {% image page.main_image original as img %}
                <img src="{{ img.url }}" class="img-fluid"></img>
        </div>
        <div class="py-3">
            {% for block in page.body %}
                {% if block.block_type == 'heading' %}
                    <div class="py-3">
                        <h3>{{ block.value }}</h3>
                    </div>
                {% elif block.block_type == 'paragraph' %}
                    <div class="py-3">
                        {{ block.value|richtext }}
                    </div>
                {% elif block.block_type == 'image' %}
                    <div class="py-3">
                        {% image block.value original as img %}
                            <img src="{{ img.url }}" class="img-fluid"></img>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}
