{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-4">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="py-4">
            {% image page.about_image original as img %}
                <img src="{{ img.url }}" class="img-fluid"></img>
        </div>
        <div class="py-4">
            {{ page.body|richtext }}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'about/js/about.js' %}"></script>
{% endblock %}
